/* MEDIA QUERIES FOR 700PX AND ABOVE */

@media all and (min-width:700px) {

  .container {
    max-width: 800px;
  }

  .header-body_text {
    text-align: left;
    font-size: 36px;
    line-height: 2.8rem;
  }

  .header-body_p {
    margin-top: 3%;
    text-align: left;
  }

  .btn-header {
    display: block;
  }

  .header-img {
    display: block;
    width: 100%;
    height: auto;
  }

  .sign-up {
    grid-column: 1/3;
    font-size: 1.5rem;
    font-weight: 700;
    justify-self: center;
  }

  /* WHY US SECTION */
  .why-us_main-title {
    margin-top: 5%;

  }

  .why-col {
    flex-basis: 0;
  }


  .main-title_text::after {
    width: 12%;
    margin-left: 44%;
  }

  .main-title_text {
    font-size: 1.275rem;
  }

  .main-title_p {
    margin-top: 4%;
  }

  .why-us_sub-title {
    margin-top: 5%;
    font-size: 1.275rem;
  }

  .why-us_title::after {
    width: 8%;
  }

  .why-us_text {
    margin-top: 2%;
  }

  .btn-why-us {
    margin-top: 0;
  }

  .secondrow {
    margin-top: 0;
  }

  /* HOW IT WORKS SECTION */
  .how-col {
    flex-basis: 0;
  }

  .thirdrow {
    margin-top: 5%;
  }

  .sub-section {
    margin-top: 0;
  }

  .text-content {
    margin-top: 0;
  }

  .round-btn::after {
    height: 131px;
  }

  .round-btn2::after {
    height: 107px;
  }

  .how-it-works_title {
    margin-top: 0;
  }

  /* NON SLIDE REVIEW FOR DESKTOP AND TAB STARTS HERE */
  .carousel {
    display: none;
  }

  .non-slide-wrapper {
    display: flex;
    padding: 4%;
    margin-top: 0;
  }

  .firstreview {
    padding: 5px;
  }

  .secondpreview,
  .thirdpreview {
    margin-left: 2%;
  }

  .review-text {
    font-size: 1rem;
  }

  .user-name,
  .user-title {
    font-size: 0.665rem;
  }

  .review-text::before {
    height: 73px;
    left: 3%;
    top: 3%;
  }


}




@media all and (min-width:992px) {

  .container {
    max-width: 960px;
  }

  /* navbar */
  .logo {
    font-size: 2rem;
    margin-left: 2%;

  }

  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 1em 0 0em 0;
    overflow: hidden;
  }

  .nav-item {
    margin-left: 24px;

  }

  .nav-link {
    position: relative;
  }

  .nav-link::after {
    content: '';
    width: 100%;
    height: 5px;
    background-color: #E4A13D;
    position: absolute;
    left: 0;
    bottom: -25px;
    transition: all .3s ease-in-out;
  }

  .nav-link:hover::after {
    color: #E4A13D !important;
    transform: translateY(-25px);
  }

  .navbar-collapse {
    flex-grow: 0;
  }

  .cart-icon {
    align-self: center;
  }

  /* navbar ends */

  /* header hero starts */
  .row {
    padding: 0em 1em;
    margin-top: 7%;
  }

  .header-body_text {
    text-align: left;
    line-height: 3.8rem;
    padding: 0;

  }

  .header-body_text {
    color: #fff;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.2rem;
  }

  .header-body_p {
    padding: 0;
    text-align: left;
  }

  .btn-header {
    display: block;
    font-size: 18px;
    padding: 9px 25px;
  }

  /* second part of why us section */
  .why-img-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .interior-img {
    filter: brightness(50%);
  }

  .img1 {
    margin-top: -8%;
  }

  .imagetext-wrap {
    position: relative;
  }

  .imagetext {
    position: absolute;
    z-index: 1;
    color: #fff;
  }

  .imagetext1 {
    left: 34%;
    font-weight: 600;
  }

  .imagetext2 {
    top: 6%;
    left: 34%;
  }

  .second-imagetext1 {
    top: 5%;
    left: 67%;
    font-weight: 600;
  }

  .second-imagetext2 {
    top: 11%;
    left: 67%;
  }


  .anotherrow {
    margin-top: 15%;
  }

  /* HOW IT WORKS SECTION */
  .round-btn,
  .round-btn3 {
    height: 5em;
  }

  .round-btn::after {
    height: 122px;
  }

  .round-btn2::after {
    height: 131px;
  }

  /* NON SLIDE REVIEW FOR DESKTOP AND TAB STARTS HERE */
  .non-slide-wrapper {
    margin-top: 5%;
    margin-bottom: 10%;
  }

  .review-text::before {
    height: 65px;
    left: 0%;
    top: 2%;
  }

  .user-name,
  .user-title {
    font-size: 0.765rem;
  }



  /* FOOTER */


  .signup-section {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 2em 1em;
    padding-bottom: 10%;
  }

  .sign-up {
    grid-column: 1/3;
    font-size: 2rem;
    font-weight: 700;
    justify-self: center;
  }

  .sign-input {
    width: 77%;
    justify-self: end;
    margin-top: 0;
  }

  .btn-footer {
    margin: 0;
    width: 50%;
  }

  .footer-links {
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 0;
  }

  .copy {
    margin-top: 3%;
    margin-bottom: 3%;
  }

  h1 {
    font-size: 48px;
    font-weight: 700;
  }

  h2 {
    font-size: 36px;
    font-weight: 700;
  }

  p {
    font-size: 20px;
    font-weight: 400;
  }


}

@media all and (min-width:1200px) {
  .header-body_p {
    width: 75%;
  }

  .container {
    max-width: 1200px;
  }

  .home-hero {
    padding-bottom: 60px;
  }

  .head-col:first-child {
    margin-top: 40px;
  }

  h1 {
    font-size: 48px;
    font-weight: 700;
  }

  h2 {
    font-size: 36px;
    font-weight: 700;
  }

  p {
    font-size: 20px;
    font-weight: 400;
  }

  /* NON SLIDE REVIEW FOR DESKTOP AND TAB STARTS HERE */

  .review-text::before {
    left: 0%;
  }

  .review-text {
    font-size: 1.2rem;

  }

}

@media all and (min-width:1440px) {

  h1 {
    font-size: 48px;
    font-weight: 700;
  }

  h2 {
    font-size: 36px;
    font-weight: 700;
  }

  p {
    font-size: 20px;
    font-weight: 400;
  }

  .navbar {
    grid-template-columns: 45% 55%;
  }

  .navlist {
    grid-gap: 1em;
  }

  .header-body_text {
    width: 77%;
  }

  .header-body_p {
    width: 70%;
  }

  /* NON SLIDE REVIEW FOR DESKTOP AND TAB STARTS HERE */

  .review-text::before {
    left: 3%;
  }

  .review-text {
    font-size: 1.7rem;

  }

  .user-name,
  .user-title {
    font-size: 1rem;
  }

}