/* MEDIA QUERIES FOR 700PX AND ABOVE */

@media all and (min-width:700px) {
  .header-body_text {
    padding: 0 15%;
  }

  .header-body_p {
    margin-top: 5%;
    padding: 0 15%;
  }
}


@media all and (min-width:992px) {

  /* navbar */
  .logo {
    font-size: 2rem;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 1em 0 0em 4.2em;
    overflow: hidden;
  }

  .nav-item {
    padding: 0 0 0 1em;

  }

  .nav-link {

    position: relative;
  }

  .nav-link::after {
    content: '';
    width: 100%;
    height: 5px;
    background-color: #E4A13D;
    position: absolute;
    left: 0;
    bottom: -25px;
    transition: all .3s ease-in-out;
  }

  .nav-link:hover::after {
    color: #E4A13D !important;
    transform: translateY(-25px);
  }

  .navbar-collapse {
    flex-grow: 0;
  }

  .cart-icon {
    align-self: center;
  }

  /* navbar ends */

  /* header starts */
  .header-body {
    padding: 4em 6em 0 0em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 0;
    margin-bottom: 5%;
  }

  .header-body_text {
    grid-column: 1;
    grid-row: 1;
    text-align: left;
    padding: 0 0 0 2em;
    line-height: 1.7;

  }

  .header-img {
    display: block;
    width: 100%;
  }

  .header-body_p {
    grid-column: 1;
    grid-row: 1;
    padding: 6em 0 0 4em;
    text-align: left;
  }

  .btn-header {
    grid-column: 1;
    grid-row: 1;
    margin-top: 47%;
    width: 40%;
    margin-left: 13%;

  }

  /* footer */


  .signup-section {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 2em 1em;
    padding-bottom: 10%;
  }

  .sign-up {

    font-size: 1.5rem;
    grid-column: 1/3;
    font-size: 1.5rem;
    justify-self: center;
  }

  .sign-input {
    width: 77%;
    justify-self: end;
    margin-top: 0;
  }

  .btn-footer {
    margin: 0;
    width: 50%;
  }

  .footer-links {
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 0;
  }

  .copy {
    margin-top: 3%;
    margin-bottom: 3%;
  }




}

@media all and (min-width:1200px) {
  .header-body_text {
    width: 80%;
  }

  .header-body_p {
    width: 70%;
  }

  .btn-header {
    margin-top: 38%;
    margin-left: 10%;
  }
}

@media all and (min-width:1440px) {
  .navbar {
    grid-template-columns: 45% 55%;
  }

  .navlist {
    grid-gap: 1em;
  }

  .header-body_text {
    width: 77%;
  }

  .header-body_p {
    width: 70%;
  }

  .btn-header {
    margin-top: 31%;
    width: 30%;
    margin-left: 10%;
  }

}