/* MEDIA QUERIES FOR 700PX AND ABOVE */

@media all and (min-width:700px) {

  .container {
    max-width: 800px;
  }

  .header-body_text {
    text-align: left;
    font-size: 36px;
    line-height: 2.8rem;
  }

  .header-body_p {
    margin-top: 3%;
    text-align: left;
  }

  .btn-header {
    display: block;
  }

  .header-img {
    display: block;
    width: 100%;
    height: auto;
  }

  .sign-up {
    grid-column: 1/3;
    font-size: 1.5rem;
    font-weight: 700;
    justify-self: center;
  }
}


@media all and (min-width:992px) {

  .container {
    max-width: 960px;
  }

  /* navbar */
  .logo {
    font-size: 2rem;

  }

  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 0.9em 0 0.9em 0;
    overflow: hidden;
  }

  .nav-item {
    margin-left: 24px;

  }

  .nav-link {

    position: relative;
  }

  .nav-link::after {
    content: '';
    width: 100%;
    height: 5px;
    background-color: #E4A13D;
    position: absolute;
    left: 0;
    bottom: -25px;
    transition: all .3s ease-in-out;
  }

  .nav-link:hover::after {
    color: #E4A13D !important;
    transform: translateY(-25px);
  }

  .navbar-collapse {
    flex-grow: 0;
  }

  .cart-icon {
    align-self: center;
  }

  /* navbar ends */

  /* header hero starts */
  .row {
    padding: 0em 1em;
    margin-top: 7%;
  }

  .header-body_text {
    text-align: left;
    line-height: 3.8rem;
    padding: 0;

  }

  .header-body_text {
    color: #fff;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.2rem;
  }

  .header-body_p {
    padding: 0;
    text-align: left;
  }

  .btn-header {
    display: block;
    font-size: 18px;
    padding: 9px 25px;
  }


  /* footer */


  .signup-section {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 2em 1em;
    padding-bottom: 10%;
  }

  .sign-up {
    grid-column: 1/3;
    font-size: 2rem;
    font-weight: 700;
    justify-self: center;
  }

  .sign-input {
    width: 77%;
    justify-self: end;
    margin-top: 0;
  }

  .btn-footer {
    margin: 0;
    width: 50%;
  }

  .footer-links {
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 0;
  }

  .copy {
    margin-top: 3%;
    margin-bottom: 3%;
  }

  h1  {
    font-size: 48px;
    font-weight: 700;
  } 
  
  h2 {
    font-size: 36px;
    font-weight: 700;
  }
  
  p {
    font-size: 20px;
    font-weight: 400;
  }


}

@media all and (min-width:1200px) {
  .header-body_p {
    width: 75%;
  }

  .container {
    max-width: 1200px;
  }

  .home-hero {
    padding-bottom: 60px;
  }

  .head-col:first-child {
    margin-top: 40px;
  }

  h1  {
    font-size: 48px;
    font-weight: 700;
  } 
  
  h2 {
    font-size: 36px;
    font-weight: 700;
  }
  
  p {
    font-size: 20px;
    font-weight: 400;
  }

}

@media all and (min-width:1440px) {
  .logo {
    margin-left: 9%;
  }

  h1  {
    font-size: 48px;
    font-weight: 700;
  } 
  
  h2 {
    font-size: 36px;
    font-weight: 700;
  }
  
  p {
    font-size: 20px;
    font-weight: 400;
  }

  .navbar {
    grid-template-columns: 45% 55%;
  }

  .navlist {
    grid-gap: 1em;
  }

  .header-body_text {
    width: 77%;
  }

  .header-body_p {
    width: 70%;
  }

}


@media all and (max-width: 800px){
  .price {
    left: 10%;
  }
  .swiper-container {
    width: 92%!important;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}
.card_div{
  height: 90px;
  width: 530px!important;
}

.card_text{
  line-height: 20px;
  letter-spacing: 10px;
  font-size: 18px;
  padding-top: 5px;
  font-weight: bold;
}
}


@media all and (max-width: 560px){
  .price {
    left: 26%;
  }
  .swiper-container {
    width: 100%!important;
    height: 274px;
    margin-left: auto;
    margin-right: auto;
}
.card_div{
  height: 55px;
  width: 300px!important;
  margin-top: 1px;
}

.card_text{
  margin-top: -20px;
  line-height: 20px;
  letter-spacing: 3px!important; 
  font-size: 18px!important;
  font-weight: bold;
}
.tab_link{
  width: 32%!important;

}
.padding_3{
  padding-left: 15px;
}
ul li.active::after {
  content: '';
  width: 60%;
  height: 5px;
  background-color: #E4A13D;
  position: absolute;
  margin-left: 30%;
  left: 0;
  bottom: -10px;
}
}