* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;

}

/* Mobile first approach */

/* HEADER */

header {
  padding: 1px;
  background: rgba(110, 156, 170, 0.89);
}

.navbar {
  background: rgba(110, 156, 170, 0) !important;
  padding: 1em 1rem 0 2em;
}

.navbar-collapse {
  text-align: center;
}

.logo,
.nav-item,
.nav-link {
  color: #fff !important;
}

.logo {
  font-weight: 700;
  line-height: 34px;
  font-size: 1.5rem;
}


.header-body_text {
  color: #fff;
  font-weight: 700;
}

.innertext {
  color: #E4A13D;
  font-weight: 700;

}

.head-col {
  flex-basis: auto;
}

.row {
  text-align: center;
  margin-top: 14%;
}

.header-body_p {
  color: #fff;
  margin-top: 8%;
}

.header-img {
  display: none;
}

.btn-header {
  color: #fff;
  background-color: #E4A13D;
  border-color: #E4A13D;
  margin-top: 5%;
  margin-bottom: 15%;
  transition: all .4s ease-in-out;
}

.btn-header:hover {
  color: #E4A13D;
  border-color: #fff;
  background-color: #fff;
}

/* HEADER ENDS */
/* WHY US SECTION */
.why-us-img {
  width: 100%;
  height: auto;
}

/* FOOTER */
.signup-section {
  background-image: linear-gradient(rgba(110, 156, 170, 0.89), rgba(110, 156, 170, 0.89)), url(./img/bg-footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 1px;
}

.sign-up {
  font-size: 0.975rem;
  font-weight: 500;
  text-align: center;
  padding-top: 1em;
  line-height: 2;
  color: #fff;
  margin-top: 5%;
}

.sign-input {
  width: 90%;
  padding: 2%;
  text-align: center;
  margin-top: 5%;
  border: 0;
  outline: 0;
}

.btn-footer {
  color: #fff;
  background-color: #E4A13D;
  border-color: #E4A13D;
  transition: all .4s ease-in-out;
  margin-top: 5%;
  width: 30%;
  margin-bottom: 13%;
}

.btn-footer:hover {
  color: #E4A13D;
  border-color: #fff;
  background-color: #fff;

}

.footer-list {
  background: #7EA7B3;
  padding: 1px;
  text-align: center;
}

.footer-links {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.footlink {
  color: #fff;
  margin-top: 4%;
  transition: all .4s ease;


}

.footlink:hover {
  color: #E4A13D;
  text-decoration: none;
}

.copy {
  color: #fff;
  margin-top: 10%;
  margin-bottom: 10%;

}

.foot-logo {
  font-weight: 700;
}