/*This styling has been included in css/style.css bur added here in case of conflicts*/
/*Kindly delete this if there is no conflict*/

/*GALLERY PAGE CSS STARTS HERE */
/* GALLERY TABS */
.gallery-nav-tabs{
    margin-top: 40px!important;
}
.gallery-nav-tabs li a{
    width: 100%;
    line-height: unset;
}
.gallery-nav-tabs .nav-link {
    text-align: center;
    color: #9FB6A1!important;
    margin: auto;
    padding: 0;
}

.gallery-nav-tabs .nav-item{
    background-color: #E8E1CE;
    border-radius: 5px;
    height: 60px;
    width: 100% !important;
    padding: 0;
    clear: both;
    float: left;
}

.gallery-nav-tabs .nav-link.active {
    background-color: #E4A13D;
    color: #000000!important;
    border-radius: 5px;
    height: 60px;
    width: 100% !important;
}

.gallery-nav-tabs{
    border-bottom: none!important;
}

.product-list img{
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
}

.product-list .pro-img-box {
    position: relative;
}

.dropdown-divider{
    border: none;
    height: 1px;
    color: #9FB6A1; /* old IE */
    background-color: #9FB6A1; /* Modern Browsers */
}

.btn-sm-gallery{
    border: none;
    outline: none;
    color: #E4A13D;
    background: #ffffff;
    padding: 2px;
}

/*Mobile Screen Tabs Navigator*/
.carousel-control-prev-icon{
    color: #E4A13D!important;
    background-image: none!important;
    margin-top: 40px;
}
.carousel-control-next-icon{
    color: #E4A13D!important;
    background-image: none!important;
    margin-top: 40px;
}
/* GALLERY PAGE CSS ENDS HERE */
